@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

.heading{
  font-family: "Exo 2", sans-serif;
  color:#292929;
  margin-top: 50px;
  font-size: 30px;
  font-weight: 700;
}

.heading.darkmodeactive{
 color:#fff;
}

.mixmode{
  mix-blend-mode: difference;
}

.navbar-brand{
  font-weight: 400;
  font-family: "Poetsen One", sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav1 {
  background-color: #fff;
  box-shadow: 3px 0px 10px #00000092;
  background:linear-gradient(45deg,#fff,#d2b9ff);
}

#mixModeBtn{
  color: #171717;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #020202;
  width: 35px;
  height: 35px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

#mixModeBtn.lightmodeactive{
  color: #de9b00;
  border: 1.5px solid  #de9b00;
}

#mainbody{
  position: relative;
  background-color: #dfdfdfa5;
  min-height: 93vh;
  padding-bottom: 10px;
}
#mainbody.darkmodeactive{
   background-color: #222;
}

.preview-text {
  background-color: #d8d8d8;
  padding: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  border-radius: 10px;
  color: #444;
}
.preview-text.darkmodeactive{
  background-color: #000;
  color: #eee;
}
.btn-clr {
  background: #0149d9;
  background:linear-gradient(45deg,#39b0ff,#aa31fb);
  border: none;
  color: #fff;
  font-size: 18px;
  font-family: "Space Grotesk", sans-serif;
}
.btn-clr:hover {
  box-shadow: none;
  background:linear-gradient( #0099ff, #9900ff);
  color: #fff;
}

textarea{
  font-family: "Roboto Slab", serif;
}


#alert-box {
  font-family: "Roboto Slab", serif;
}

.footer-box{
  height: 51.5px;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  background-color: #000;
  font-family: "Dancing Script", cursive;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -3px 0px 10px #ffffff53;
}

.footer-box ion-icon {
  color: #fff;
  font-size:32px;
}
#logo-img {
  width: 5em;
  mix-blend-mode: normal;
}


#footer-container h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 20px;
  background: -webkit-linear-gradient(45deg,#39b0ff,#aa31fb);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}



#footer-container p.description {
  font-size: 1.2rem;
  margin-bottom: 40px;
  text-align: center;
}
#footer-container.darkmodeactive p.description{
  color: #fff;
}
#footer-container .social-icons {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 60px;
}


#footer-container .social-icons a {
  text-decoration: none;
  color: inherit;
  text-align: center;
}

#footer-container .social-icons ion-icon {
  font-size: 40px;
  color: #333;
  transition: color 0.3s;
}
#footer-container.darkmodeactive .social-icons ion-icon{
  color: #ddd;
}

#footer-container .social-icons a:hover ion-icon {
  color: #0077b5; /* LinkedIn Blue as default hover color */
}

#footer-container .social-icons .gmail:hover ion-icon {
  color: #d44638; /* Gmail Red */
}

#footer-container .social-icons .github:hover ion-icon {
  color: #333; /* GitHub Black */
}
#footer-container.darkmodeactive .social-icons .github:hover ion-icon {
  color: #d641ff;
}
#footer-container .social-icons .linkedin:hover ion-icon {
  color: #0077b5; /* LinkedIn Blue */
}

#footer-container .social-icons span {
  display: block;
  margin-top: 8px;
  font-size: 0.9rem;
}

#footer-container .footer-logo {
  text-align: center;
  margin-top: 80px;
}

#footer-container .footer-logo ion-icon {
  font-size: 60px;
  color: #555;
}
#footer-container.darkmodeactive .footer-logo ion-icon{
  color: #bbb;
}
#footer-container .footer-logo p {
  margin-top: 10px;
  font-size: 1rem;
  color: #555;
}
#footer-container.darkmodeactive .footer-logo p{
  color:#bbb
}

#aboutContent .about-heading{
  font-size: 4rem;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 20px;
  background: -webkit-linear-gradient(45deg,#39b0ff,#aa31fb);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-item .nav-link{
  font-size: 20px;
  margin-left: 10px;
  color: #040404;
}

.nav-item .nav-link.active{
  color:#9900ff;
  font-weight: 500;
}

#text-form-container{
  margin-top: 30px;
}

#alert-box{
  position: absolute;
  right: 0;
  width: 40%;
}

#textForm.darkmodeactive{
  background: #000;
  color: #fff;
}

#detailsText{
  color: #000;
}

#detailsText.darkmodeactive{
  color: #fff;
}